body {
    margin: 0;
    font-family: sans-serif;
}

img.manufact-img {
    float: left;
    width: 30%;
    padding: 0 40px 30px 0;
}
img.car-img {
    float: right;
    width: 20%;
    padding: 0 0 30px 40px;
}
p.success {
    color: #3ebb0c;
    text-decoration: underline;
    font-weight: bold;
}
p.error {
    color: #ff2626;
    text-decoration: underline;
    font-weight: bold;
}
/* HEADER */
#header {
    display: flex;
    padding: 30px 0;
    background-color: rgb(119, 26, 42);
}
#header .header-option {
    padding: 20px 30px;
    background-color: dimgrey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: 0 auto;
}
#header .header-option a {
    color: white;
    text-weight: bold;
}
#header .header-option:hover {
    background-color: gray;
}
#header .header-option a:visited {
    color: white;
}
/* CONTENT */
 #content {
    display: flex;
    min-height: 670px;
}
#content .side-ct {
    background-image: linear-gradient(rgb(119, 26, 42),lightyellow);
    width: 15%;
}
#content-ct {
    width: 70%;
    padding: 40px;
    background-color: lightyellow;
}
#content-ct .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#content-ct .main-box {
    display: flex;
}
#content-ct .main-box table {
    padding: 40px;
}
#content-ct .main-box .sponsore {
    padding: 40px;
}
#cars .color .tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
#cars .color:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.manufacturer-ct {
    margin-bottom: 70px;
}
.manufacturer-ct table, .manufacturer-ct th, .manufacturer-ct td,
.car-ct table, .car-ct th, .car-ct td{
    border: 1px solid #ccc;
    text-align: center;
}
.manufacturer-ct th,
.car-ct th{
    background: #797878ad;
    border-color: white;
    width: 4rem;
    height: 2rem;

}
.manufacturer-ct td,
.car-ct td {
    width: 260px;
    height: 32px;
}

#add-manufact-ct table, #add-manufact-ct th, #add-manufact-ct td,
#add-car-ct table, #add-car-ct th, #add-car-ct td{
    border: none;
}

#add-manufact-ct button,
#add-car-ct button {
    height: 35px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}

/* FOOTER */
#footer {
    height: 80px;
    padding-top: 40px;
    text-align: center;
    background: dimgray;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-weight: bold;
}