body {
    margin: 0;
    font-family: sans-serif;
}

img.manufact-img {
    float: left;
    width: 30%;
    padding: 0 40px 30px 0;
}
img.car-img {
    float: right;
    width: 20%;
    padding: 0 0 30px 40px;
}
p.success {
    color: #3ebb0c;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
p.error {
    color: #ff2626;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#header {
    background-color: #771929;
    width: auto;
    height: 40px;
    padding: 30px;
}
#header .header-ct {
    float: left;
}
#header .header-ct button  {
    height: 35px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #696969;
    font-weight: bold;
}
#header .header-ct button:hover {
    color: #771929;
    background-color: #dddddd;
}



 #content {
    display: flex;
    min-height: 587px;
}
#content .side-ct {
    background-image: linear-gradient(#771929,#ffffe0);
    width: 15%;
}
#content-ct {
    width: 70%;
    padding: 40px;
    background-color: #ffffe0;
}
#content-ct .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#content-ct .main-box {
    display: flex;
}
#content-ct .main-box table {
    padding: 40px;
}
#content-ct .main-box .sponsore {
    padding: 40px;
}
#cars .color .tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
#cars .color:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.manufacturer-ct {
    margin-bottom: 70px;
}
.manufacturer-ct table, .manufacturer-ct th, .manufacturer-ct td,
.car-ct table, .car-ct th, .car-ct td{
    border: 1px solid #ccc;
    text-align: center;
}
.manufacturer-ct th,
.car-ct th{
    background: #797878ad;
    border-color: white;
    width: 260px;
    height: 32px;
     color: #ffffff;

}
.manufacturer-ct td,
.car-ct td {
    width: 260px;
    height: 32px;
}
.manufacturer-ct .manufacturer-cars-ct button {
    font-weight: bold;
    border: none;
    width: 25px;
    height: 25px;
}

#add-manufact-ct table, #add-manufact-ct th, #add-manufact-ct td,
#add-car-ct table, #add-car-ct th, #add-car-ct td{
    border: none;
}
#add-manufact-ct .basic-input,
#add-car-ct .basic-input {
    width: 80%;
    margin: 0 auto;
}
#add-manufact-ct .basic-input input,
#add-car-ct .basic-input input {
    width: 360px;
    height: 28px;
    border: solid 1px #cacaca;
    padding-left: 10px;
}
#add-manufact-ct .basic-input select,
#add-car-ct .basic-input select {
    width: 372px;
    height: 32px;
    padding: 0;;
}
#add-manufact-ct button,
#add-car-ct button {
    height: 35px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}


#footer {
    height: auto;
    padding: 40px;
    text-align: center;
    background: dimgray;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
#footer a {
    color: #771929;
    text-decoration: none;
}
#footer a:hover{
    color: #ffffff;
}
#footer a:visited{
    color: #ffffe0;
}